__pycache__
.venv
/static
static/css/app.64d5b8d2.css
static/css/app.97d0b18b.css
static/css/app.32943db5.css
static/css/app.bf949dce.css
static/css/app.c83427e6.css
static/css/chunk-vendors.cd72bf76.css
static/fonts/Inter-Black.6a5cbde1.eot
static/fonts/Inter-Black.ca1a54ba.woff
static/fonts/Inter-Black.ce1c45ab.ttf
static/fonts/Inter-Black.eb91d11e.woff2
static/fonts/Inter-BlackItalic.1f2ab351.woff
static/fonts/Inter-BlackItalic.7f16c831.eot
static/fonts/Inter-BlackItalic.84398d44.woff2
static/fonts/Inter-BlackItalic.0498514f.ttf
static/fonts/Inter-Bold.1ec52ac2.woff
static/fonts/Inter-Bold.cfbbcf4c.woff2
static/fonts/Inter-Bold.f1113e19.eot
static/fonts/Inter-Bold.fa472d47.ttf
static/fonts/Inter-BoldItalic.4ff98cfa.woff2
static/fonts/Inter-BoldItalic.06f21bd9.eot
static/fonts/Inter-BoldItalic.b62f9cc5.ttf
static/fonts/Inter-BoldItalic.d8200441.woff
static/fonts/Inter-ExtraBold.2de85306.ttf
static/fonts/Inter-ExtraBold.9c66df57.woff2
static/fonts/Inter-ExtraBold.c5108d08.eot
static/fonts/Inter-ExtraBold.f7a7e791.woff
static/fonts/Inter-ExtraBoldItalic.029bf95d.woff2
static/fonts/Inter-ExtraBoldItalic.168cdf47.eot
static/fonts/Inter-ExtraBoldItalic.d5ed1d56.ttf
static/fonts/Inter-ExtraBoldItalic.daf7305e.woff
static/fonts/Inter-ExtraLightBETA.0c10867e.woff
static/fonts/Inter-ExtraLightBETA.8518f8ba.woff2
static/fonts/Inter-ExtraLightBETA.41975af6.ttf
static/fonts/Inter-ExtraLightBETA.74072e2c.eot
static/fonts/Inter-ExtraLightItalicBETA.9f872049.eot
static/fonts/Inter-ExtraLightItalicBETA.5322ce55.ttf
static/fonts/Inter-ExtraLightItalicBETA.23236be0.woff2
static/fonts/Inter-ExtraLightItalicBETA.ba6bf13e.woff
static/fonts/Inter-Italic.86f8d1f4.eot
static/fonts/Inter-Italic.931dac42.ttf
static/fonts/Inter-Italic.5459232e.woff
static/fonts/Inter-Italic.b9aa1507.woff2
static/fonts/Inter-LightBETA.4cf396cd.ttf
static/fonts/Inter-LightBETA.62e969af.woff2
static/fonts/Inter-LightBETA.83f6695a.eot
static/fonts/Inter-LightBETA.e7c74764.woff
static/fonts/Inter-LightItalicBETA.2fbbafc7.ttf
static/fonts/Inter-LightItalicBETA.8ff2f3df.eot
static/fonts/Inter-LightItalicBETA.9e169b39.woff2
static/fonts/Inter-LightItalicBETA.64a9f0b1.woff
static/fonts/Inter-Medium.51d50ec4.eot
static/fonts/Inter-Medium.73404c6b.woff
static/fonts/Inter-Medium.ade97b15.ttf
static/fonts/Inter-Medium.dea841b3.woff2
static/fonts/Inter-MediumItalic.53fd6ed3.woff
static/fonts/Inter-MediumItalic.c4c689d5.woff2
static/fonts/Inter-MediumItalic.dc7792bc.eot
static/fonts/Inter-MediumItalic.f0adfe3d.ttf
static/fonts/Inter-Regular.79bc3e31.woff2
static/fonts/Inter-Regular.98a41604.ttf
static/fonts/Inter-Regular.c5851ed9.woff
static/fonts/Inter-Regular.d77c1e0e.eot
static/fonts/Inter-SemiBold.01e76501.eot
static/fonts/Inter-SemiBold.3a64b930.ttf
static/fonts/Inter-SemiBold.625bb4b9.woff2
static/fonts/Inter-SemiBold.f8fbd234.woff
static/fonts/Inter-SemiBoldItalic.2e9d5334.ttf
static/fonts/Inter-SemiBoldItalic.925365c7.eot
static/fonts/Inter-SemiBoldItalic.db214597.woff
static/fonts/Inter-SemiBoldItalic.fe53774a.woff2
static/fonts/Inter-ThinBETA.8ee7bcd1.woff2
static/fonts/Inter-ThinBETA.4579f83a.woff
static/fonts/Inter-ThinBETA.88409b41.ttf
static/fonts/Inter-ThinBETA.c8b8a57e.eot
static/fonts/Inter-ThinItalicBETA.2d084d22.eot
static/fonts/Inter-ThinItalicBETA.288c08ec.woff2
static/fonts/Inter-ThinItalicBETA.bf39d7bb.ttf
static/fonts/Inter-ThinItalicBETA.cebb1ca1.woff
static/icons/2gis.svg
static/icons/addr.svg
static/icons/arrow-hover.svg
static/icons/arrow.svg
static/icons/clock.svg
static/icons/disabledArrow.svg
static/icons/evrika.svg
static/icons/inst.svg
static/icons/samsung.svg
static/icons/smallArrow.svg
static/icons/tel.svg
static/icons/yandex.svg
static/image/carousel/carousel-1.webp
static/image/carousel/carousel-2.webp
static/image/carousel/carousel-3.webp
static/image/carousel/carousel-4.webp
static/image/contact_slider/1-1.webp
static/image/contact_slider/1-main.webp
static/image/contact_slider/1.webp
static/image/contact_slider/2-1.webp
static/image/contact_slider/2-main.webp
static/image/contact_slider/2.webp
static/image/contact_slider/3-1.webp
static/image/contact_slider/3-main.webp
static/image/contact_slider/3.webp
static/image/contact_slider/4-1.webp
static/image/contact_slider/4-main.webp
static/image/contact_slider/4.webp
static/image/contact_slider/5-1.webp
static/image/contact_slider/5-main.webp
static/image/contact_slider/5.webp
static/image/contact_slider/6-1.webp
static/image/contact_slider/6-main.webp
static/image/contact_slider/6.webp
static/image/contact_slider/care-bg-m.webp
static/image/contact_slider/care-bg.webp
static/image/logo/logo-m.png
static/image/logo/logo-m.webp
static/image/logo/logo.svg
static/image/promo/5-bonus-halykQR/halyk-5.jpg
static/image/promo/5-bonus-halykQR/halyk-5.webp
static/image/promo/delivery/banner.png
static/image/promo/delivery/banner.webp
static/image/promo/delivery/delivery.jpg
static/image/promo/delivery/promo-banner.webp
static/image/promo/gnc/banner.webp
static/image/promo/gnc/promo-banner.webp
static/image/promo/halyk-rassrochka/promo-banner.webp
static/image/promo/kaspi-juma/banner.jpg
static/image/promo/kaspi-juma/banner.webp
static/image/promo/kaspi-juma/juma.jpg
static/image/promo/kaspi-juma/promo-banner.webp
static/image/promo/smart-bonus/banner.webp
static/image/promo/smart-bonus/promo-banner.webp
static/image/promo/trade-in/banner.jpg
static/image/promo/trade-in/banner.webp
static/image/promo/trade-in/promo-banner.webp
static/image/promo/trade-in/trade-in.jpg
static/image/slider/delivery_mobile.webp
static/image/slider/delivery.webp
static/image/slider/halyk-bonus_mobile.webp
static/image/slider/halyk-bonus.webp
static/image/slider/halyk-rassrochka_mobile.webp
static/image/slider/halyk-rassrochka.webp
static/image/slider/kaspi-juma_mobile.webp
static/image/slider/kaspi-juma.webp
static/image/slider/kaspi-rassrochka_mobile.webp
static/image/slider/kaspi-rassrochka.webp
static/image/slider/trade-in_mobile.webp
static/image/slider/trade-in.webp
static/img/1-1.fe9c8d46.webp
static/img/1-main.a6388ccb.webp
static/img/1.8997eb0f.webp
static/img/2-1.958a4f17.webp
static/img/2-main.ccdfa090.webp
static/img/2.23ecb35c.webp
static/img/2gis.86dbb750.svg
static/img/3-1.032a3897.webp
static/img/3-main.e8b8e738.webp
static/img/3.8d90b621.webp
static/img/4-1.b8ae2eec.webp
static/img/4-main.1e529ad5.webp
static/img/4.914c2682.webp
static/img/5-1.19ff2561.webp
static/img/5-main.18ecd137.webp
static/img/5.f2128405.webp
static/img/6-1.dc121e1e.webp
static/img/6-main.473b7d61.webp
static/img/6.dc121e1e.webp
static/img/addr.6619cd6f.svg
static/img/arrow-hover.27e0fc7e.svg
static/img/arrow.954cc27b.svg
static/img/clock.11279052.svg
static/img/disabledArrow.b04859f6.svg
static/img/evrika.f81c0b8b.svg
static/img/inst.c684fb9c.svg
static/img/logo.ac18b272.svg
static/img/samsung.7484f482.svg
static/img/smallArrow.82906a24.svg
static/img/tel.a2e61fee.svg
static/img/yandex.b6d44714.svg
static/js/app.2d83d5bf.js
static/js/app.2d83d5bf.js.map
static/js/app.5ccc4890.js
static/js/app.5ccc4890.js.map
static/js/app.74c50de4.js
static/js/app.74c50de4.js.map
static/js/chunk-vendors.7b726000.js
static/js/chunk-vendors.7b726000.js.map
static/js/chunk-vendors.fed2a668.js
static/js/chunk-vendors.fed2a668.js.map
static/json/carousel.json
static/json/main.json
static/json/slider.json
static/styles/main.css
static/styles/main.css.map
static/styles/main.scss
static/styles/font/Inter/Inter-Black.eot
static/styles/font/Inter/Inter-Black.ttf
static/styles/font/Inter/Inter-Black.woff
static/styles/font/Inter/Inter-Black.woff2
static/styles/font/Inter/Inter-BlackItalic.eot
static/styles/font/Inter/Inter-BlackItalic.ttf
static/styles/font/Inter/Inter-BlackItalic.woff
static/styles/font/Inter/Inter-BlackItalic.woff2
static/styles/font/Inter/Inter-Bold.eot
static/styles/font/Inter/Inter-Bold.ttf
static/styles/font/Inter/Inter-Bold.woff
static/styles/font/Inter/Inter-Bold.woff2
static/styles/font/Inter/Inter-BoldItalic.eot
static/styles/font/Inter/Inter-BoldItalic.ttf
static/styles/font/Inter/Inter-BoldItalic.woff
static/styles/font/Inter/Inter-BoldItalic.woff2
static/styles/font/Inter/Inter-ExtraBold.eot
static/styles/font/Inter/Inter-ExtraBold.ttf
static/styles/font/Inter/Inter-ExtraBold.woff
static/styles/font/Inter/Inter-ExtraBold.woff2
static/styles/font/Inter/Inter-ExtraBoldItalic.eot
static/styles/font/Inter/Inter-ExtraBoldItalic.ttf
static/styles/font/Inter/Inter-ExtraBoldItalic.woff
static/styles/font/Inter/Inter-ExtraBoldItalic.woff2
static/styles/font/Inter/Inter-ExtraLightBETA.eot
static/styles/font/Inter/Inter-ExtraLightBETA.ttf
static/styles/font/Inter/Inter-ExtraLightBETA.woff
static/styles/font/Inter/Inter-ExtraLightBETA.woff2
static/styles/font/Inter/Inter-ExtraLightItalicBETA.eot
static/styles/font/Inter/Inter-ExtraLightItalicBETA.ttf
static/styles/font/Inter/Inter-ExtraLightItalicBETA.woff
static/styles/font/Inter/Inter-ExtraLightItalicBETA.woff2
static/styles/font/Inter/Inter-Italic.eot
static/styles/font/Inter/Inter-Italic.ttf
static/styles/font/Inter/Inter-Italic.woff
static/styles/font/Inter/Inter-Italic.woff2
static/styles/font/Inter/Inter-LightBETA.eot
static/styles/font/Inter/Inter-LightBETA.ttf
static/styles/font/Inter/Inter-LightBETA.woff
static/styles/font/Inter/Inter-LightBETA.woff2
static/styles/font/Inter/Inter-LightItalicBETA.eot
static/styles/font/Inter/Inter-LightItalicBETA.ttf
static/styles/font/Inter/Inter-LightItalicBETA.woff
static/styles/font/Inter/Inter-LightItalicBETA.woff2
static/styles/font/Inter/Inter-Medium.eot
static/styles/font/Inter/Inter-Medium.ttf
static/styles/font/Inter/Inter-Medium.woff
static/styles/font/Inter/Inter-Medium.woff2
static/styles/font/Inter/Inter-MediumItalic.eot
static/styles/font/Inter/Inter-MediumItalic.ttf
static/styles/font/Inter/Inter-MediumItalic.woff
static/styles/font/Inter/Inter-MediumItalic.woff2
static/styles/font/Inter/Inter-Regular.eot
static/styles/font/Inter/Inter-Regular.ttf
static/styles/font/Inter/Inter-Regular.woff
static/styles/font/Inter/Inter-Regular.woff2
static/styles/font/Inter/Inter-SemiBold.eot
static/styles/font/Inter/Inter-SemiBold.ttf
static/styles/font/Inter/Inter-SemiBold.woff
static/styles/font/Inter/Inter-SemiBold.woff2
static/styles/font/Inter/Inter-SemiBoldItalic.eot
static/styles/font/Inter/Inter-SemiBoldItalic.ttf
static/styles/font/Inter/Inter-SemiBoldItalic.woff
static/styles/font/Inter/Inter-SemiBoldItalic.woff2
static/styles/font/Inter/Inter-ThinBETA.eot
static/styles/font/Inter/Inter-ThinBETA.ttf
static/styles/font/Inter/Inter-ThinBETA.woff
static/styles/font/Inter/Inter-ThinBETA.woff2
static/styles/font/Inter/Inter-ThinItalicBETA.eot
static/styles/font/Inter/Inter-ThinItalicBETA.ttf
static/styles/font/Inter/Inter-ThinItalicBETA.woff
static/styles/font/Inter/Inter-ThinItalicBETA.woff2
static/styles/font/Inter/stylesheet.css
