@import "../static/styles/font/Inter/stylesheet.css";
.mrl-0 {
  margin-left: 0px;
}

.mrl-5 {
  margin-left: 20px;
}

.mrl-10 {
  margin-left: 40px;
}

.mrl-15 {
  margin-left: 60px;
}

.mrl-20 {
  margin-left: 80px;
}

.mrl-25 {
  margin-left: 100px;
}

.mrl-30 {
  margin-left: 120px;
}

.mrl-35 {
  margin-left: 140px;
}

.mrl-40 {
  margin-left: 160px;
}

.mrl-45 {
  margin-left: 180px;
}

.mrl-50 {
  margin-left: 200px;
}

.mrl-55 {
  margin-left: 220px;
}

.mrl-60 {
  margin-left: 240px;
}

.mrl-65 {
  margin-left: 260px;
}

.mrl-70 {
  margin-left: 280px;
}

.mrt-0 {
  margin-top: 0px;
}

.mrt-5 {
  margin-top: 20px;
}

.mrt-10 {
  margin-top: 40px;
}

.mrt-15 {
  margin-top: 60px;
}

.mrt-20 {
  margin-top: 80px;
}

.mrt-25 {
  margin-top: 100px;
}

.mrt-30 {
  margin-top: 120px;
}

.mrt-35 {
  margin-top: 140px;
}

.mrt-40 {
  margin-top: 160px;
}

.mrt-45 {
  margin-top: 180px;
}

.mrt-50 {
  margin-top: 200px;
}

.mrt-55 {
  margin-top: 220px;
}

.mrt-60 {
  margin-top: 240px;
}

.mrt-65 {
  margin-top: 260px;
}

.mrt-70 {
  margin-top: 280px;
}

.mrb-0 {
  margin-bottom: 0px;
}

.mrb-5 {
  margin-bottom: 20px;
}

.mrb-10 {
  margin-bottom: 40px;
}

.mrb-15 {
  margin-bottom: 60px;
}

.mrb-20 {
  margin-bottom: 80px;
}

.mrb-25 {
  margin-bottom: 100px;
}

.mrb-30 {
  margin-bottom: 120px;
}

.mrb-35 {
  margin-bottom: 140px;
}

.mrb-40 {
  margin-bottom: 160px;
}

.mrb-45 {
  margin-bottom: 180px;
}

.mrb-50 {
  margin-bottom: 200px;
}

.mrb-55 {
  margin-bottom: 220px;
}

.mrb-60 {
  margin-bottom: 240px;
}

.mrb-65 {
  margin-bottom: 260px;
}

.mrb-70 {
  margin-bottom: 280px;
}

.mrr-0 {
  margin-right: 0px;
}

.mrr-5 {
  margin-right: 20px;
}

.mrr-10 {
  margin-right: 40px;
}

.mrr-15 {
  margin-right: 60px;
}

.mrr-20 {
  margin-right: 80px;
}

.mrr-25 {
  margin-right: 100px;
}

.mrr-30 {
  margin-right: 120px;
}

.mrr-35 {
  margin-right: 140px;
}

.mrr-40 {
  margin-right: 160px;
}

.mrr-45 {
  margin-right: 180px;
}

.mrr-50 {
  margin-right: 200px;
}

.mrr-55 {
  margin-right: 220px;
}

.mrr-60 {
  margin-right: 240px;
}

.mrr-65 {
  margin-right: 260px;
}

.mrr-70 {
  margin-right: 280px;
}

.pdl-0 {
  padding-left: 0px;
}

.pdl-5 {
  padding-left: 20px;
}

.pdl-10 {
  padding-left: 40px;
}

.pdl-15 {
  padding-left: 60px;
}

.pdl-20 {
  padding-left: 80px;
}

.pdl-25 {
  padding-left: 100px;
}

.pdl-30 {
  padding-left: 120px;
}

.pdl-35 {
  padding-left: 140px;
}

.pdl-40 {
  padding-left: 160px;
}

.pdl-45 {
  padding-left: 180px;
}

.pdl-50 {
  padding-left: 200px;
}

.pdl-55 {
  padding-left: 220px;
}

.pdl-60 {
  padding-left: 240px;
}

.pdl-65 {
  padding-left: 260px;
}

.pdl-70 {
  padding-left: 280px;
}

.pdt-0 {
  padding-top: 0px;
}

.pdt-5 {
  padding-top: 20px;
}

.pdt-10 {
  padding-top: 40px;
}

.pdt-15 {
  padding-top: 60px;
}

.pdt-20 {
  padding-top: 80px;
}

.pdt-25 {
  padding-top: 100px;
}

.pdt-30 {
  padding-top: 120px;
}

.pdt-35 {
  padding-top: 140px;
}

.pdt-40 {
  padding-top: 160px;
}

.pdt-45 {
  padding-top: 180px;
}

.pdt-50 {
  padding-top: 200px;
}

.pdt-55 {
  padding-top: 220px;
}

.pdt-60 {
  padding-top: 240px;
}

.pdt-65 {
  padding-top: 260px;
}

.pdt-70 {
  padding-top: 280px;
}

.pdb-0 {
  padding-bottom: 0px;
}

.pdb-5 {
  padding-bottom: 20px;
}

.pdb-10 {
  padding-bottom: 40px;
}

.pdb-15 {
  padding-bottom: 60px;
}

.pdb-20 {
  padding-bottom: 80px;
}

.pdb-25 {
  padding-bottom: 100px;
}

.pdb-30 {
  padding-bottom: 120px;
}

.pdb-35 {
  padding-bottom: 140px;
}

.pdb-40 {
  padding-bottom: 160px;
}

.pdb-45 {
  padding-bottom: 180px;
}

.pdb-50 {
  padding-bottom: 200px;
}

.pdb-55 {
  padding-bottom: 220px;
}

.pdb-60 {
  padding-bottom: 240px;
}

.pdb-65 {
  padding-bottom: 260px;
}

.pdb-70 {
  padding-bottom: 280px;
}

.pdr-0 {
  padding-right: 0px;
}

.pdr-5 {
  padding-right: 20px;
}

.pdr-10 {
  padding-right: 40px;
}

.pdr-15 {
  padding-right: 60px;
}

.pdr-20 {
  padding-right: 80px;
}

.pdr-25 {
  padding-right: 100px;
}

.pdr-30 {
  padding-right: 120px;
}

.pdr-35 {
  padding-right: 140px;
}

.pdr-40 {
  padding-right: 160px;
}

.pdr-45 {
  padding-right: 180px;
}

.pdr-50 {
  padding-right: 200px;
}

.pdr-55 {
  padding-right: 220px;
}

.pdr-60 {
  padding-right: 240px;
}

.pdr-65 {
  padding-right: 260px;
}

.pdr-70 {
  padding-right: 280px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backspace-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
}
*:before, *:after {
  backface-visibility: hidden;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none !important;
}

.black_10 {
  color: #ededed !important;
}
.black_10_bg {
  background-color: #ededed !important;
}

.black_25 {
  color: #c9c9c9 !important;
}
.black_25_bg {
  background-color: #c9c9c9;
}

.black_50 {
  color: #7b7b7b !important;
}
.black_50_bg {
  background-color: #7b7b7b !important;
}

.black_75 {
  color: #282828 !important;
}
.black_75_bg {
  background-color: #282828 !important;
}

.black_100 {
  color: #000000 !important;
}
.black_100_bg {
  background-color: #000000 !important;
}

.blue_20 {
  color: #eaedff !important;
}
.blue_20_bg {
  background-color: #eaedff !important;
}

.blue_20_hover {
  color: #e5e8fa !important;
}
.blue_20_hover_bg {
  background-color: #e5e8fa !important;
}

.blue_50 {
  color: #91a0ef !important;
}
.blue_50_bg {
  background-color: #91a0ef !important;
}

.blue_80 {
  color: #2b47da !important;
}
.blue_80_bg {
  background-color: #2b47da !important;
}

.blue_80_hover {
  color: #1d39c9 !important;
}
.blue_80_hover_bg {
  background-color: #1d39c9 !important;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media (max-width: 900px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}
body {
  margin: 0;
  font-family: "Inter";
}

h1.heading {
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
@media (max-width: 1366px) {
  h1.heading {
    font-size: 36px;
  }
}
@media (max-width: 900px) {
  h1.heading {
    font-size: 28px;
  }
}

h2.heading {
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
@media (max-width: 1366px) {
  h2.heading {
    font-size: 36px;
  }
}
@media (max-width: 900px) {
  h2.heading {
    font-size: 28px;
  }
}

h3.promoItem-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
@media (max-width: 1366px) {
  h3.promoItem-title {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  h3.promoItem-title {
    font-size: 24px;
  }
}
h3.header {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
@media (max-width: 1366px) {
  h3.header {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  h3.header {
    font-size: 24px;
  }
}

.text_base1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.text_base1_bold {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
@media (max-width: 1366px) {
  .text_base1_bold {
    font-size: 17px;
  }
}
@media (max-width: 900px) {
  .text_base1_bold {
    font-size: 16px;
  }
}
@media (max-width: 1366px) {
  .text_base1 {
    font-size: 17px;
  }
}
@media (max-width: 900px) {
  .text_base1 {
    font-size: 16px;
  }
}
.text_base2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.text_base2_bold {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
@media (max-width: 1366px) {
  .text_base2_bold {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .text_base2_bold {
    font-size: 14px;
  }
}
@media (max-width: 1366px) {
  .text_base2 {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .text_base2 {
    font-size: 14px;
  }
}
.text_base3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 1366px) {
  .text_base3 {
    font-size: 13px;
  }
}
@media (max-width: 900px) {
  .text_base3 {
    font-size: 12px;
  }
}

.promo-row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  justify-content: space-between;
}

.image-box img {
  max-width: 100%;
}

.image-box,
.info-box {
  flex-basis: calc(50% - 20px);
}

.image-box.isEven {
  order: 1;
}

.promo-container.row {
  display: flex;
  flex-flow: column;
  gap: 80px;
}

a.promo-link:last-of-type {
  text-decoration: none;
  padding: 20px 28px;
  background: #eaedff;
  border-radius: 12px;
}

.image-box.rounded-6 {
  border-radius: 24px;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */