@mixin generate($prf, $propr) {
  $sz: 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70;
  $spac: 4px;

  @for $i from 1 through length($sz) {
    $size: nth($sz, $i);

    .#{$prf}-#{$size} {
      #{$propr}: $spac * $size;
    }
  }
}

$rules: ((mrl, margin-left), (mrt, margin-top), (mrb, margin-bottom), (mrr, margin-right), (pdl, padding-left), (pdt, padding-top), (pdb, padding-bottom), (pdr, padding-right));

@each $item in $rules {
  $rule: nth($item, 1);
  $property: nth($item, 2);
  @include generate($rule, $property);
}

@import "../static/styles/font/Inter/stylesheet.css";
$blue_20: #eaedff;
$blue_20_hover: #e5e8fa;
$blue_50: #91a0ef;
$blue_80: #2b47da;
$blue_80_hover: #1d39c9;
$black_10: #ededed;
$black_25: #c9c9c9;
$black_50: #7b7b7b;
$black_75: #282828;
$black_100: #000000;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backspace-visibility: hidden;
  backface-visibility: hidden;
  outline: none;

  &:before,
  &:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none !important;
}

//colors
.black_10 {
  color: $black_10 !important;

  &_bg {
    background-color: $black_10 !important;
  }
}

.black_25 {
  color: $black_25 !important;

  &_bg {
    background-color: $black_25;
  }
}

.black_50 {
  color: $black_50 !important;

  &_bg {
    background-color: $black_50 !important;
  }
}

.black_75 {
  color: $black_75 !important;

  &_bg {
    background-color: $black_75 !important;
  }
}

.black_100 {
  color: $black_100 !important;

  &_bg {
    background-color: $black_100 !important;
  }
}

.blue_20 {
  color: $blue_20 !important;

  &_bg {
    background-color: $blue_20 !important;
  }
}

.blue_20_hover {
  color: $blue_20_hover !important;

  &_bg {
    background-color: $blue_20_hover !important;
  }
}

.blue_50 {
  color: $blue_50 !important;

  &_bg {
    background-color: $blue_50 !important;
  }
}

.blue_80 {
  color: $blue_80 !important;

  &_bg {
    background-color: $blue_80 !important;
  }
}

.blue_80_hover {
  color: $blue_80_hover !important;

  &_bg {
    background-color: $blue_80_hover !important;
  }
}

.desktop-only {
  display: block; // Отображается по умолчанию
}

.mobile-only {
  display: none; // Не отображается по умолчанию
}

// Медиа-запрос с максимальной шириной 768px для мобильных устройств
@media (max-width: 900px) {
  .desktop-only {
    display: none; // Не отображается на устройствах с шириной экрана до 768px
  }

  .mobile-only {
    display: block; // Отображается на устройствах с шириной экрана до 768px
  }
}

body {
  margin: 0;
  font-family: "Inter";
}

// headers
h1.heading {
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;

  @media (max-width: 1366px) {
    font-size: 36px;
  }

  @media (max-width: 900px) {
    font-size: 28px;
  }
}

// headers
h2.heading {
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;

  @media (max-width: 1366px) {
    font-size: 36px;
  }

  @media (max-width: 900px) {
    font-size: 28px;
  }
}

h3 {
  &.promoItem-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    @media (max-width: 1366px) {
      font-size: 30px;
    }

    @media (max-width: 900px) {
      font-size: 24px;
    }
  }

  &.header {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    @media (max-width: 1366px) {
      font-size: 30px;
    }

    @media (max-width: 900px) {
      font-size: 24px;
    }
  }
}

// typograph
.text {
  &_base {
    &1 {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;

      &_bold {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;

        @media (max-width: 1366px) {
          font-size: 17px;
        }

        @media (max-width: 900px) {
          font-size: 16px;
        }
      }

      @media (max-width: 1366px) {
        font-size: 17px;
      }

      @media (max-width: 900px) {
        font-size: 16px;
      }
    }

    &2 {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;

      &_bold {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;

        @media (max-width: 1366px) {
          font-size: 15px;
        }

        @media (max-width: 900px) {
          font-size: 14px;
        }
      }

      @media (max-width: 1366px) {
        font-size: 15px;
      }

      @media (max-width: 900px) {
        font-size: 14px;
      }
    }

    &3 {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      color: #fff;

      @media (max-width: 1366px) {
        font-size: 13px;
      }

      @media (max-width: 900px) {
        font-size: 12px;
      }
    }
  }
}

// main page
.promo-row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  justify-content: space-between;
}

.image-box img {
  max-width: 100%;
}

.image-box,
.info-box {
  flex-basis: calc(50% - 20px);
}

.image-box.isEven {
  order: 1;
}

.promo-container.row {
  display: flex;
  flex-flow: column;
  gap: 80px;
}

a.promo-link:last-of-type {
  text-decoration: none;
  padding: 20px 28px;
  background: $blue_20;
  border-radius: 12px;
}

.image-box.rounded-6 {
  border-radius: 24px;
  overflow: hidden;
}