/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import './font/Inter/stylesheet.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  display: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backspace-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
}
*:before, *:after {
  backface-visibility: hidden;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.mrl-0 {
  margin-left: 0px;
}

.mrl-1 {
  margin-left: 4px;
}

.mrl-2 {
  margin-left: 8px;
}

.mrl-3 {
  margin-left: 12px;
}

.mrl-4 {
  margin-left: 16px;
}

.mrl-5 {
  margin-left: 20px;
}

.mrl-6 {
  margin-left: 24px;
}

.mrl-7 {
  margin-left: 28px;
}

.mrl-8 {
  margin-left: 32px;
}

.mrl-9 {
  margin-left: 36px;
}

.mrl-10 {
  margin-left: 40px;
}

.mrl-11 {
  margin-left: 60px;
}

.mrl-12 {
  margin-left: 80px;
}

.mrl-13 {
  margin-left: 140px;
}

.mrl-14 {
  margin-left: 200px;
}

.mrt-0 {
  margin-top: 0px;
}

.mrt-1 {
  margin-top: 4px;
}

.mrt-2 {
  margin-top: 8px;
}

.mrt-3 {
  margin-top: 12px;
}

.mrt-4 {
  margin-top: 16px;
}

.mrt-5 {
  margin-top: 20px;
}

.mrt-6 {
  margin-top: 24px;
}

.mrt-7 {
  margin-top: 28px;
}

.mrt-8 {
  margin-top: 32px;
}

.mrt-9 {
  margin-top: 36px;
}

.mrt-10 {
  margin-top: 40px;
}

.mrt-11 {
  margin-top: 60px;
}

.mrt-12 {
  margin-top: 80px;
}

.mrt-13 {
  margin-top: 140px;
}

.mrt-14 {
  margin-top: 200px;
}

.mrb-0 {
  margin-bottom: 0px;
}

.mrb-1 {
  margin-bottom: 4px;
}

.mrb-2 {
  margin-bottom: 8px;
}

.mrb-3 {
  margin-bottom: 12px;
}

.mrb-4 {
  margin-bottom: 16px;
}

.mrb-5 {
  margin-bottom: 20px;
}

.mrb-6 {
  margin-bottom: 24px;
}

.mrb-7 {
  margin-bottom: 28px;
}

.mrb-8 {
  margin-bottom: 32px;
}

.mrb-9 {
  margin-bottom: 36px;
}

.mrb-10 {
  margin-bottom: 40px;
}

.mrb-11 {
  margin-bottom: 60px;
}

.mrb-12 {
  margin-bottom: 80px;
}

.mrb-13 {
  margin-bottom: 140px;
}

.mrb-14 {
  margin-bottom: 200px;
}

.mrr-0 {
  margin-right: 0px;
}

.mrr-1 {
  margin-right: 4px;
}

.mrr-2 {
  margin-right: 8px;
}

.mrr-3 {
  margin-right: 12px;
}

.mrr-4 {
  margin-right: 16px;
}

.mrr-5 {
  margin-right: 20px;
}

.mrr-6 {
  margin-right: 24px;
}

.mrr-7 {
  margin-right: 28px;
}

.mrr-8 {
  margin-right: 32px;
}

.mrr-9 {
  margin-right: 36px;
}

.mrr-10 {
  margin-right: 40px;
}

.mrr-11 {
  margin-right: 60px;
}

.mrr-12 {
  margin-right: 80px;
}

.mrr-13 {
  margin-right: 140px;
}

.mrr-14 {
  margin-right: 200px;
}

.pdl-0 {
  padding-left: 0px;
}

.pdl-1 {
  padding-left: 4px;
}

.pdl-2 {
  padding-left: 8px;
}

.pdl-3 {
  padding-left: 12px;
}

.pdl-4 {
  padding-left: 16px;
}

.pdl-5 {
  padding-left: 20px;
}

.pdl-6 {
  padding-left: 24px;
}

.pdl-7 {
  padding-left: 28px;
}

.pdl-8 {
  padding-left: 32px;
}

.pdl-9 {
  padding-left: 36px;
}

.pdl-10 {
  padding-left: 40px;
}

.pdl-11 {
  padding-left: 60px;
}

.pdl-12 {
  padding-left: 80px;
}

.pdl-13 {
  padding-left: 140px;
}

.pdl-14 {
  padding-left: 200px;
}

.pdt-0 {
  padding-top: 0px;
}

.pdt-1 {
  padding-top: 4px;
}

.pdt-2 {
  padding-top: 8px;
}

.pdt-3 {
  padding-top: 12px;
}

.pdt-4 {
  padding-top: 16px;
}

.pdt-5 {
  padding-top: 20px;
}

.pdt-6 {
  padding-top: 24px;
}

.pdt-7 {
  padding-top: 28px;
}

.pdt-8 {
  padding-top: 32px;
}

.pdt-9 {
  padding-top: 36px;
}

.pdt-10 {
  padding-top: 40px;
}

.pdt-11 {
  padding-top: 60px;
}

.pdt-12 {
  padding-top: 80px;
}

.pdt-13 {
  padding-top: 140px;
}

.pdt-14 {
  padding-top: 200px;
}

.pdb-0 {
  padding-bottom: 0px;
}

.pdb-1 {
  padding-bottom: 4px;
}

.pdb-2 {
  padding-bottom: 8px;
}

.pdb-3 {
  padding-bottom: 12px;
}

.pdb-4 {
  padding-bottom: 16px;
}

.pdb-5 {
  padding-bottom: 20px;
}

.pdb-6 {
  padding-bottom: 24px;
}

.pdb-7 {
  padding-bottom: 28px;
}

.pdb-8 {
  padding-bottom: 32px;
}

.pdb-9 {
  padding-bottom: 36px;
}

.pdb-10 {
  padding-bottom: 40px;
}

.pdb-11 {
  padding-bottom: 60px;
}

.pdb-12 {
  padding-bottom: 80px;
}

.pdb-13 {
  padding-bottom: 140px;
}

.pdb-14 {
  padding-bottom: 200px;
}

.pdr-0 {
  padding-right: 0px;
}

.pdr-1 {
  padding-right: 4px;
}

.pdr-2 {
  padding-right: 8px;
}

.pdr-3 {
  padding-right: 12px;
}

.pdr-4 {
  padding-right: 16px;
}

.pdr-5 {
  padding-right: 20px;
}

.pdr-6 {
  padding-right: 24px;
}

.pdr-7 {
  padding-right: 28px;
}

.pdr-8 {
  padding-right: 32px;
}

.pdr-9 {
  padding-right: 36px;
}

.pdr-10 {
  padding-right: 40px;
}

.pdr-11 {
  padding-right: 60px;
}

.pdr-12 {
  padding-right: 80px;
}

.pdr-13 {
  padding-right: 140px;
}

.pdr-14 {
  padding-right: 200px;
}

a {
  text-decoration: none !important;
}

.blue_20 {
  color: #EAEDFF;
}
.blue_20_bg {
  background-color: #EAEDFF;
}

.blue_20_hover {
  color: #E5E8FA;
}
.blue_20_hover_bg {
  background-color: #E5E8FA;
}

.blue_50 {
  color: #91A0EF;
}
.blue_50_bg {
  background-color: #91A0EF;
}

.blue_80 {
  color: #2B47DA;
}
.blue_80_bg {
  background-color: #2B47DA;
}

.blue_80_hover {
  color: #1D39C9;
}
.blue_80_hover_bg {
  background-color: #1D39C9;
}

.black_10 {
  color: #EDEDED;
}
.black_10_bg {
  background-color: #EDEDED;
}

.black_25 {
  color: #C9C9C9;
}
.black_25_bg {
  background-color: #C9C9C9;
}

.black_50 {
  color: #7B7B7B;
}
.black_50_bg {
  background-color: #7B7B7B;
}

.black_75 {
  color: #282828;
}
.black_75_bg {
  background-color: #282828;
}

.black_100 {
  color: #000000;
}
.black_100_bg {
  background-color: #000000;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}
body {
  margin: 0;
  font-family: "Inter";
}

h2.heading {
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.text_base2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.text_base2_bold {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-weight: 600;
}
.text_base1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.text_base1_bold {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.promo-row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  justify-content: space-between;
}

.image-box img {
  max-width: 100%;
}

.image-box,
.info-box {
  flex-basis: calc(50% - 20px);
}

.image-box.isEven {
  order: 1;
}

.promo-container.row {
  display: flex;
  flex-flow: column;
  gap: 80px;
}

a.promo-link:last-of-type {
  text-decoration: none;
  padding: 20px 28px;
  background: #EAEDFF;
  border-radius: 12px;
}

.image-box.rounded-6 {
  border-radius: 24px;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */